<!--MAIN CONTENT--> 
<div class="ion-page" id="main-content">

<!--HEADER-->          
  <ion-header>
    <ion-toolbar color="dark">
          
    <!--Menu button-->  
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
    <!--Title-->
      <ion-title>My Cat-alogue</ion-title>

    </ion-toolbar>
  </ion-header>
    
<!--LIST OF SAVED CATS-->    
  <ion-content>
    <ion-list>
  
    <!--Thumbnail of cat photo-->
      <ion-item> 
        <ion-thumbnail slot="start">
          <img [src]=catImageURL>
        </ion-thumbnail>

    <!--Breed name-->
        <ion-label class="ion-text-wrap">
          <p>Breed:</p>
          <h2>{{user.favBreed}}</h2>
        </ion-label>

    <!--Favourites button-->  
        <ion-buttons>
          <ion-button slot="end" (click)="toggleIcon()">
            <ion-icon slot="icon-only" [name]="buttonIcon" color="danger"></ion-icon>
          </ion-button>

    <!--Remove button-->            
          <ion-button slot="end">
            <ion-icon name="trash" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  
    </ion-list>
  </ion-content>
  
</div>
  