<!--MAIN CONTENT--> 
<div class="ion-page" id="main-content">

  <!--HEADER-->         
      <ion-header>
        <ion-toolbar color="dark">
          
        <!--Menu button-->  
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
  
        <!--Title-->
          <ion-title>My Cat Catalogue</ion-title>
  
        <!--Back button-->
          <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
          </ion-buttons>
  
        </ion-toolbar>
      </ion-header>
    
    <ion-content>
  <!--LIST-->        
      <ion-list>
  
        <ion-item>
        <!--Thumbnail cover art-->    
          <ion-thumbnail slot="start">
            <img [src]=catImageURL>
          </ion-thumbnail>
        <!--Label-->
          <ion-label class="ion-text-wrap">
            <p>Breed:</p>
            <h2>{{user.favBreed}}</h2>
          </ion-label>
        <!--Add to collection button-->  
          <ion-buttons>
            <ion-button slot="end">
              <ion-icon name="heart-outline" slot="icon-only" color="danger"></ion-icon>
            </ion-button>
            <ion-button slot="end">
              <ion-icon name="trash" slot="icon-only" color="medium"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
  
      </ion-list>
    </ion-content>
  
    </div>
  