<!--HEADER-->  
  <ion-header>
    <ion-toolbar color="dark">

    <!--Title-->
      <ion-title>Register</ion-title>

    <!--Back button-->
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<!--MAIN CONTENT--> 
  <ion-content [fullscreen]="true">
    <div id="container">

    <!--Register card-->
      <ion-card id="card-register">

        <ion-card-header> 
          <ion-card-title color="warning">Please enter your details:</ion-card-title>
        </ion-card-header>

      <!--Name input-->
        <ion-item lines="none" color="#202020" id="item-register-top">
          <ion-input type="text" [(ngModel)]="user.name" placeholder="Your Name..."></ion-input>
        </ion-item>

      <!--Email input-->
        <ion-item lines="none" color="#202020" class="item-register">
          <ion-input type="email" [(ngModel)]="user.email" placeholder="Your Email..."></ion-input>
        </ion-item>

      <!--Favourite breed selection-->
        <ion-item lines="none" color="#202020" class="item-register">
          <ion-select placeholder="Your Favourite Breed..." [(ngModel)]="user.favBreed">
            <ion-select-option *ngFor="let breed of breedslist" value="{{breed.name}}">{{breed.name}}</ion-select-option>
          </ion-select>
        </ion-item>

      <!--Password input-->
        <ion-item lines="none" color="#202020" class="item-register">
          <ion-input type="password" [(ngModel)]="user.password" placeholder="Your Password..." ></ion-input>
        </ion-item>

      <!--Privacy policy check-->
        <ion-item color="#202020" lines="full">
          <ion-label color="light">I agree to privacy policy:</ion-label>
          <ion-checkbox color="warning" [(ngModel)]="user.policy"></ion-checkbox>
        </ion-item>

      <!--Cat Lover check-->
        <ion-item color="#202020" lines="none">
          <ion-label color="light">I confirm I am a cat lover:</ion-label>
          <ion-checkbox color="warning"></ion-checkbox>
        </ion-item>

      </ion-card>

      <!--Register button-->
        <ion-button fill="outline" color="warning" (click)="register()">Register an Account</ion-button>

    </div>
</ion-content>