<!--HEADER-->  
  <ion-header>
    <ion-toolbar color="dark">

    <!--Title-->
      <ion-title>Welcome to CatBox!</ion-title>

    </ion-toolbar>
  </ion-header>

<!--MAIN CONTENT--> 
  <ion-content [fullscreen]="true">
    <div id="container">

    <!--App logo-->  
      <ion-img id="logo-login" src=".\assets\CatBox-Yellow-01.png"></ion-img>

    <!--Login card-->
      <ion-card>
        <ion-card-header>
          <ion-card-title color="warning">Existing User?</ion-card-title>
        </ion-card-header> 

        <ion-card-content>

        <!--Email input-->  
          <ion-item id="item-login" color="#202020" lines="none" >
            <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
          </ion-item>

        <!--Password input-->  
          <ion-item color="#202020" lines="none">
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
          </ion-item>

        <!--Error message-->  
          <ion-text *ngIf="error" color="danger">
            {{errorMsg}}
          </ion-text>

        <!--Login button--> 
          <div class="btn-login">
            <ion-button fill="outline" color="warning" (click)="login()">Login</ion-button>
          </div>

        </ion-card-content>
      </ion-card>

    <!--Devider section--> 
      <div id="or-div-login">
        <ion-text color="light">or</ion-text>
      </div>

    <!--Register button--> 
      <div class="btn-login">
        <ion-button fill="clear" color="warning" [routerLink]="['/register']">Register</ion-button>
      </div>
    
    </div>
</ion-content>