<!--MAIN CONTENT--> 
<div class="ion-page" id="main-content">

  <!--HEADER--> 
        <ion-header>
          <ion-toolbar color="dark">
  
          <!--Menu button-->  
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
  
          <!--Title-->
            <ion-title>Favourites</ion-title>
  
          <!--Back button-->
            <ion-buttons slot="end">
              <ion-back-button></ion-back-button>
            </ion-buttons>
  
          </ion-toolbar>
        </ion-header>
  
  <!--FAVOURITES-->      
        <ion-content>
  
        <ion-card class="favourite-card">
        <!--Add to favourites button-->  
          <ion-buttons>
            <ion-button class="btn-heart">
              <ion-icon name="heart" slot="icon-only" color="danger"></ion-icon>
            </ion-button> 
          </ion-buttons>
        <!--Cover art-->
          <a href="details.html"><img src="covers/The-Queen-is-Dead-cover.png"/></a>
        <!--Card header--> 
          <ion-card-header>
            <ion-card-subtitle>THE SMITHS</ion-card-subtitle>
            <ion-card-title color="warning">The Queen Is Dead</ion-card-title>
          </ion-card-header>
        </ion-card>

  
        </ion-content>
  
      </div>