/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-safe-area-top: 10px;
    --ion-background-color: #191919;
    --ion-border-color: #333333;
    --ion-backdrop-color: #92949c;
}

ion-select{
    border-radius: 25px !important; 
    background-color: #333333 !important;
    color: white !important;
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    width: 100%;
}


ion-chip.stats {
    width: 47%;
}

ion-avatar {
    --border-radius: 25px !important;
}

ion-range{
    --bar-background: var(--ion-border-color) !important;
    --bar-background-active: #ffc409;
    --bar-height: 5px !important;
    --bar-border-radius: 25px !important;
    pointer-events: none;
    
}

ion-range::part(tick){
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ffc409;
}

ion-range::part(tick-active){
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #333333;
}



ion-tab-button {
    --color-selected: #ffc409;
}

h2 {
    color: #ffc409;  
}   


/*--SEARCHBAR STYLING--*/
ion-input {
    border-radius: 25px !important; 
    background-color: #333333 !important;
    color: white !important;
    --padding-start: 20px !important;
}

.ion-padding-top {
    padding-top: 5px;
}

.output {
    margin: auto;
    padding: auto;
}


/*--CARD STYLING--*/
ion-card {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #202020;
}
.main_content{
    --background: url(.\assets\cat-01.png) no-repeat center center/ 80%;
    height: 80%;
}
.random-container {
    padding-top: 10px;
}

.collection-card {
    width: 100%;
    height: 95%;
}

.collection-card ion-card-subtitle {
    font-size: smaller;
}

.collection-card ion-card-title {
    font-size: 15px;
}

.favourite-card ion-card-header {
    padding-bottom: 15px;
}


/*--FAVOURITE/DELETE ICONS STYLING--*/
.favourite-card .btn-heart {
    left: 0;
    top: 0;
}

.btn-heart, .btn-trash {
    position: absolute;
    top: -10px;
    padding: auto;
    margin: auto;
}

.btn-heart {
    left: -10px;
}

.btn-trash {
    right: -10px;
} 


/*--IMAGES STYLING--*/
img {
    width: 100%;
}

.logo {
    width: 50%;
    height: 50%;
}       


/*--DETAILS PAGE STYLING--*/
.cover {
    width: 90%;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-item-divider {
    margin-top: 10px;
    background-color: #262626a1;
}

ion-badge {
    margin-right: 20px;
    background-color: #262626a1;
}

.track-length {
    margin-left: 20px;
}