<!--MAIN CONTENT--> 
<ion-menu side="start" content-id="main-content">

<!--SIDE MENU HEADER-->
  <ion-header>
    <ion-toolbar color="dark">

    <!--Title-->
      <ion-title slot="start">Menu</ion-title>

    <!--App logo-->
      <ion-title slot="end"><img src=".\assets\CatBox-Yellow-01.png" class="logo"></ion-title>

    </ion-toolbar>
  </ion-header>
        
<!--SIDE MENU LINKS-->
  <ion-content>
    <ion-list>

    <!--Dashboard page link-->
      <ion-item routerLink="/dashboard" routerLinkActive="active" lines="full">
        <ion-icon name="home" slot="start" color="warning"></ion-icon>
        <ion-label color="light">Home Page</ion-label>
      </ion-item>
          
    <!--Search page link-->
      <ion-item routerLink="/search" routerLinkActive="active" lines="full">
        <ion-icon name="search" slot="start" color="warning"></ion-icon>
        <ion-label color="light">Search Breed</ion-label>
      </ion-item>
           
    <!--Favourites page link-->
      <ion-item routerLink="/favourites" routerLinkActive="active" lines="full">
        <ion-icon name="paw" slot="start" color="warning"></ion-icon>
        <ion-label color="light">Cat-alogue</ion-label>
      </ion-item>

    <!--Tasks page link-->
      <ion-item routerLink="/tasks" routerLinkActive="active" lines="full">
        <ion-icon name="pencil" slot="start" color="warning"></ion-icon>
        <ion-label color="light">Tasks</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

<!--BUTTONS-->
  <ion-footer>
    <ion-toolbar>

    <!--Logout button link-->
      <ion-button color="warning" fill="outline" (click)="logout()">Logout</ion-button>

    <!--Delete account button link-->
      <ion-button color="medium" slot="end" fill="outline" (click)="delete()">Delete Account</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<router-outlet id="main-content"></router-outlet>
