<!--MAIN CONTENT--> 
<div class="ion-page" id="main-content">

<!--HEADER-->  
  <ion-header>
    <ion-toolbar color="dark">
    
    <!--Menu button-->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    <!--Title-->
      <ion-title>Hello {{user.name}}!</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
 <!--DASHBOARD CONTENT-->  
  <ion-content>

  <!--RANDOM IMAGE CONTAINER-->
    <div class="random-container">

    <!--Random Image Label--> 
      <ion-card>
        <ion-card-header>
          <ion-item color="#202020" lines="none">
            <ion-label color="warning">Random Cat Image:</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)='loadNextImage()'>
                <ion-icon name="reload-outline" slot="icon-only" color="light"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-header>
      </ion-card>

    <!--Random Image--> 
      <ion-card *ngIf="randomImage">
        <ion-img [src]=randomImage.file></ion-img>
      </ion-card>
  
    </div>
  
  <!--RANDOM FACT CONTAINER-->
    <div class="random-container">

    <!--Random Fact Label--> 
      <ion-card>
        <ion-card-header>
          <ion-item color="#202020" lines="none">
            <ion-label color="warning">Random Cat Fact:</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)='loadNextFact()'>
                <ion-icon name="reload-outline" slot="icon-only" color="light"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-header>
      </ion-card>
  
    <!--Random Fact--> 
      <ion-card *ngIf="catFact">
        <ion-card-content>
          {{catFact.fact}} 
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>

</div>
